# PyCharm
.idea/
src/__pycache__

# Datasets
data/*
!data/topics/
!data/topics/*


# Virtual environment
venv/

# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/
src/interface/build/

# Directory created by dartdoc
doc/api/
